---
layout: simple
title: Clients

clients:
- name: Bitcoin-Qt
  url: bitcoin.org
  image: bitcoin-qt.png
  description: |
    The original software written by Satoshi Nakamoto, the
    project's founder. If you aren't sure which program to
    pick, this is a good bet. This application is a
    peer-to-peer client that builds the backbone of the Bitcoin
    network. It is suited for enthusiasts, merchants, miners,
    developers and people who want to help support the project.
    People who run Bitcoin-Qt are first class network citizens
    and have the highest levels of security, privacy and
    stability. However, it can be very resource intensive and
    you should be willing to leave it running in the background
    so other computers can connect to yours. If your computer
    is low powered or you aren't willing to tolerate a 8-hour+
    initial start time, you should consider other clients.
    Cutting edge features tend to be implemented in other
    clients first.
  platforms:
  - name: linux
  - name: win
  - name: osx-uni
- name: MultiBit
  url: multibit.org
  image: multibit.png
  description: |
    MultiBit's primary focus is being fast and easy to use,
    even for people with no technical knowledge. It has a
    YouTube channel to help you learn the software, and
    includes helpful features such as an exchange rate ticker.
    MultiBit supports many languages such as German, Spanish
    and Greek. MultiBit synchronizes with the network much
    faster than Bitcoin-Qt and should be ready for you to use
    within a few minutes. This is a good choice for non
    technical users who want an easy to use experience,
    especially if you use a Mac.
  platforms:
  - name: linux
  - name: win
  - name: osx-uni
- name: Armory
  url: bitcoinarmory.com
  image: armory.png
  description: |
    Armory is a Bitcoin client that works on top of
    Bitcoin-Qt, expanding it with functionality for Bitcoin
    power users. It focuses on advanced features and security
    options, including "cold-storage" for maintaining Bitcoins
    on an offline computer to protect your funds from online
    threats. Armory supports multiple encrypted wallets, each
    of which only needs to be backed up once using a printer or
    removable media. Armory is a good choice for experienced
    Bitcoin users, seeking additional flexibility and security
    for managing their funds.
  platforms:
  - name: linux
  - name: win
- name: Electrum
  url: electrum-desktop.com
  image: electrum.png
  description: |
    Electrum's focus is speed, with low resource usage and
    simplifying Bitcoin. You do not need to perform regular
    backups, because your wallet can be recovered from a secret
    phrase that you can memorize or write on paper. Startup
    times are instant because it operates in conjuction with
    high-performance servers that handle the most complicated
    parts of the Bitcoin system.
  platforms:
  - name: linux
  - name: osx-uni
  - name: win
  - name: android
- name: Bitcoin Wallet
  url: play.google.com/store/apps/details?id=de.schildbach.wallet
  image: bitcoin-wallet.png
  description: |
    Bitcoin Wallet is a standalone wallet for Android devices.
    Its primary focus is security, ease of use and being independant
    of centralized network components (servers). Thus, it uses the
    SPV (simple payment verification) model. It supports
    initiating transactions via QR code,  Bitcoin URIs or near-field
    communication (NFC). It has a useful currency conversion
    calculator and is localized to a dozen languages.
  platforms:
  - name: android
 - name: My Wallet
  url: blockchain.info/wallet/
  image: my-wallet.png
  description: |
	The first web wallet that doesn't have access to a user's private keys.
	It is a fully featured, easy to use website, that stores the user's keys
	on the server in an encrypted form, with the key never being sent to the server.
	It offers several notable features such as automated backups to email/Dropbox/Google Drive,
	sending Bitcoins to an email/Facebook/Twitter/SMS address, 2-factor authentication,
	a built-in mixing service (for a fee), and also offers an Android app.
  platforms:
  - name: web
  - name: android
---

    <div class="container">
      <section id="graphical-interfaces">
        <h1>Bitcoin Client Software</h1>
        <p>Bitcoin is a system of merchants, individuals, a network of participants and software. Together they maintain a mutually co-operating infrastructure without the need for authorities - a decentralised peer-to-peer system. A core layer of the Bitcoin system is the Bitcoin network through which people interact with it using Bitcoin client software. Below we list such software.</p>
        <p>Bitcoin clients are the base level of technology for conducting Bitcoin transactions. Clients usually store a collection of keys on that computer (often termed a wallet). These keys allow you to send and receive payments through the Bitcoin network. Nobody has access to these keys except yourself, and they must be kept secure. This is where clients differ, with ingenious strategies and ongoing research into making a user-friendly and secure client - not an easy task when both goals often conflict!</p>
        <div class="row">
          {% for client in page.clients %}
          {% cycle '', '', '', '</div><br><div class="row">' %}
            <div class="span-one-third">
              <h2><a href="http://{{ client.url }}">{{ client.name }}</a></h2>
              <img src="img/clients/{{ client.image }}" />
              <p>{{ client.description }}</p>
              <p>Website: <a href="http://{{ client.url }}">{{ client.url }}</a></p>
              <p>Platforms:
                {% for platform in client.platforms %}
                  <img src="img/ico-{{ platform.name }}.png" />
                {% endfor %}
              </p>
            </div>
          {% endfor %}
        </div>
      </section>

    <!--
      <section id="website-frontends">
        <h1>Website Frontends</h1>
        <div class="row">
          <div class="span5">
            <h2><a href="http://bitcoin.org">Bitcoin-Qt</a></h2>
            <img src="img/bitcoin.png" />
            <p>Website: <a href="http://bitcoin.org">bitcoin.org</a></p>
            <p>Bitcoin is one of the first implementations of a concept called crypto-currency, which was first described in 1998 by Wei Dai on the cypherpunks mailing list. Building upon the notion that money is any object, or any sort of record, accepted as payment for goods and services and repayment of debts in a given country or socio-economic context, Bitcoin is designed around the idea of using cryptography to control the creation and transfer of money, rather than relying on central authorities.</p>
          </div>
          ...
        </div>
      </section>
    -->
    </div>
